.data {
    .data-all {
        display: inline-block;
        width: 280px;
        margin: 0 24px;
        vertical-align: top;
        @media screen and (max-width:768px) {
            width: 165px;
            margin: 0 8px;
        }
    }
    .gambar {
        width: 100%;
        position: relative;
        height: 280px;
        @media screen and (max-width:768px) {
            // width: 165px;
            height: 165px;

        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &--one {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
        }
        @keyframes duit {
            0%, 100% {
              top: 5%;
              right: 0;
            }
            50% {
              top: 10%;
              right: 8px;
            }
          }
        &--duit {
            position: absolute;
            animation: duit 2s linear infinite;
            right: 0;
            top: 5%;
            width: 80px;
            height: auto;
            @media screen and (max-width:768px) {
                width: 40px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        @keyframes coin {
            0%, 100% {
              top: 0;
              left: 0;
            }
            50% {
              top: 10%;
              left: 8px;
            }
          }
        &--coin {
            position: absolute;
            animation: coin 3s linear infinite;
            left: 0;
            top: 0;
            width: 80px;
            height: auto;
            @media screen and (max-width:768px) {
                width: 40px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        // laba
        &--presentasi {
            position: absolute;
            right: -16px;
            top: 25%;
            z-index: 3;
            width: 74px;
            height: auto;
            @media screen and (max-width:768px) {
                width: 40px;
            }
        }
        &--diagram {
            position: absolute;
            top: -16px;
            right: 8px;
            width: 40%;
            height: auto;
        }
        &--badan {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: auto;
        }
        &--tangan {
            position: absolute;
            left: -54px;
            height: auto;
            width: 60px;
            top: 4px;
            @media screen and (max-width:768px) {
                width: 30px;
                left: -27px;
            }
        }
        &--hitam {
            position: absolute;
            left: 8px;
            bottom: 60%;
            width: 75px;
            height: auto;
            z-index: 3;
            @media screen and (max-width:768px) {
                width: 40px;
            }
        }
        &--badan-hitam {
            position: absolute;
            top: 0;
            left: -25%;
            width: 100%;
            height: auto;
        }
        &--kepala {
            position: absolute;
            top: -30px;
            left: -8px;
            width: 40px;
            height: auto;
            @media screen and (max-width:768px) {
                width: 25px;
                top: -20px;
            }
        }
        &--monitor {
            position: absolute;
            left: 50%;
            width: 70%;
            z-index: 2;
            top: 30%;
            transform: translate(-50%, -50%);
        }
    }

    .keterangan {
        // display: inline-block;
        // width: 50%;
        // margin-left: 8px;
        margin-top: 16px;
        .judul {
            font-size: 1.5rem;
            // font-weight: 700;
            @media screen and (max-width:768px) {
                font-size: 1.5rem;
            }
        }
        .nominal {
            font-size: 3rem;
            font-weight: 700;
            line-height: 2.5rem;
            color: #003a70;
            @media screen and (max-width:768px) {
                line-height: 1.5rem;
                font-size: 1.6rem;
            }
        }
    }

    .pencapaian {
        margin-bottom: 16px;
        .gam {
            width: 50%;
            display: inline-block;
            height: auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .cont {
            display: inline-block;
            vertical-align: middle;
            width: 45%;
            &--angka {
                font-size: 1.5rem;
                line-height: 1rem;
                font-weight: bold;
            }
        }
    }
}