.data {
    padding: 72px 0 32px;
    background-size: contain;
    background-image: url(../img/bgbg.jpg);
    background-position: center;
    .pelengkap {
        font-size: .8rem;
    }
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to top, #b9e7f2, rgba(#b9e7f2,.7), #b9e7f2);
        width: 100%;
        height: 100%;
        @media screen and (max-width:768px) {
            background: linear-gradient(to top, #b9e7f2, rgba(#b9e7f2,.8), #b9e7f2);
        }
    }
    &::before {
        content: "";
        position: absolute;
        border-radius: 0 0 50px 50px;
        top: 0;
        z-index: 2;
        left: 0;
        background-size: cover;
        right: 0;
        width: 100%;
        height: 30px;
        background-image: url(../img/kertas.jpg);
        background-position: bottom;
        background-size: cover;
        box-shadow: 12px 16px 15px 10px rgba(0,0,0,.1);
    }
    .data-all {
        display: inline-block;
        width: 280px;
        margin: 0 24px;
        vertical-align: top;
        @media screen and (max-width:768px) {
            width: 150px;
            margin: 0 8px;
        }
        @media screen and (max-width:360px) {
            width: 140px;
        }
    }
    .gambar {
        width: 100%;
        position: relative;
        height: 280px;
        @media screen and (max-width:768px) {
            // width: 165px;
            height: 165px;
            width: 90%;

        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &--one {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
        }
        @keyframes duit {
            0%, 100% {
              top: 5%;
              right: 0;
            }
            50% {
              top: 10%;
              right: 8px;
            }
          }
        &--duit {
            position: absolute;
            animation: duit 2s linear infinite;
            right: 0;
            top: 5%;
            width: 80px;
            height: auto;
            @media screen and (max-width:768px) {
                width: 40px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        @keyframes coin {
            0%, 100% {
              top: 0;
              left: 0;
            }
            50% {
              top: 10%;
              left: 8px;
            }
          }
        &--coin {
            position: absolute;
            animation: coin 3s linear infinite;
            left: 0;
            top: 0;
            width: 80px;
            height: auto;
            @media screen and (max-width:768px) {
                width: 40px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        // laba
        &--presentasi {
            position: absolute;
            right: -16px;
            top: 25%;
            z-index: 3;
            width: 74px;
            height: auto;
            @media screen and (max-width:768px) {
                width: 40px;
            }
        }
        @keyframes spin {
            from {
                transform:rotate(0deg);
            }
            to {
                transform:rotate(360deg);
            }
        }
        &--diagram {
            position: absolute;
            animation: spin 5s linear infinite;
            top: -16px;
            right: 8px;
            width: 40%;
            height: auto;
        }
        &--badan {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: auto;
        }

        @keyframes tangans {
            0%, 100% {
              transform: rotate(0deg);
              left: -54px;
            top: 2px;
            }
            50% {
                transform: rotate(-10deg);
                left: -56px;
                top: 5px;
            }
        }

        @keyframes tangansmob {
            0%, 100% {
              transform: rotate(0deg);
              left: -27px;
            top: 2px;
            }
            50% {
                transform: rotate(-10deg);
                left: -29px;
                top: 5px;
            }
        }
        &--tangan {
            position: absolute;
            left: -54px;
            height: auto;
            z-index: 5;
            width: 60px;
            animation: tangans 2s linear infinite;
            top: 4px;
            @media screen and (max-width:768px) {
                width: 30px;
                left: -27px;
                animation: tangansmob 2s linear infinite;
            }
        }
        &--hitam {
            position: absolute;
            left: 8px;
            bottom: 60%;
            width: 75px;
            height: auto;
            z-index: 3;
            @media screen and (max-width:768px) {
                width: 40px;
            }
        }
        &--badan-hitam {
            position: absolute;
            top: 0;
            left: -25%;
            width: 100%;
            height: auto;
        }
        @keyframes geleng {
            0%, 100% {
              transform: rotate(0deg);
              left: -8px;
            }
            50% {
                transform: rotate(-6deg);
                left: -8px;
            }
          }
        &--kepala {
            position: absolute;
            transform: rotate(0deg);
            animation: geleng 2s linear infinite;
            top: -30px;
            left: -8px;
            width: 40px;
            height: auto;
            @media screen and (max-width:768px) {
                width: 25px;
                top: -20px;
            }
        }
        &--monitor {
            position: absolute;
            left: 50%;
            width: 70%;
            z-index: 2;
            top: 30%;
            transform: translate(-50%, -50%);
        }
    }

    .keterangan {
        // display: inline-block;
        // width: 50%;
        // margin-left: 8px;
        margin-top: 16px;
        .judul {
            font-size: 1.5rem;
            // font-weight: 700;
            @media screen and (max-width:768px) {
                font-size: 1.1rem;
            }
        }
        @keyframes bg {
            0%, 100% {
                
                background: transparent;
              
            }
            50% {
                    background: linear-gradient(to right, white, transparent);
            }
          }
        .nominal {
            font-size: 3rem;
            // animation: bg 2s linear infinite;
            // transition-timing-function: ease-in-out;
                background: transparent;
            // transition: .3s;
            font-weight: 700;
            line-height: 2.5rem;
            color: #003a70;
            @media screen and (max-width:768px) {
                line-height: 1.5rem;
                font-size: 1.7rem;
            }
        }
    }

    .pencapaian {
        margin-bottom: 16px;
        .gam {
            width: 50%;
            display: inline-block;
            height: auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .cont {
            display: inline-block;
            vertical-align: middle;
            width: 45%;
            &--angka {
                font-size: 1.5rem;
                line-height: 1rem;
                font-weight: bold;
            }
        }
    }
}