.inovasi {
    // background: #86b2db;
    background: #86b2db;
    .batasx {
        position: absolute;
        top: -5%;
        /* right: 0; */
        /* left: 0; */
        width: fit-content;
        height: 100px;
        z-index: 1;
        @media screen and (max-width:768px) {
            top: -3%;
        }
        img {

            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .bg {
        position: relative;
        width: 100%;
        margin: 0 auto;
        display: block;
        height: 480px;
        @media screen and (max-width:768px) {
            height: fit-content;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .kecil {
        font-size: .7rem !important;
    }
    .blocking {
        display: block;
        width: 100%;
        margin-bottom: 24px;
        .hp {
            display: inline-block;
            width: 40%;
            height: auto;
            vertical-align: middle;
            position: relative;
            z-index: 2;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .cont {
            display: inline-block;
            margin-left: -32px;
            background: rgba(255,255,255,.6);
            padding: 8px 8px 8px 36px;
            border-radius: 16px;
            vertical-align: middle;
            position: relative;
            width: 66%;
            z-index: 1;
            @media screen and (max-width:768px) {
                
                width: 60%;
            }

            .d-block {
                // margin-top: 8px;
                // border-top: 1px solid ;
                padding-top: 8px;
            }
            .kk {
                margin-bottom: 16px;
            }
            .judul {
                font-size: 1rem;
                @media screen and (max-width:360px) {
                    font-size: .9rem;
                }
            }
            .angka {
                font-size: 2.5rem;
                line-height: 2.2rem;
                font-weight: 700;
                color: #003a70;
                &.vol {
                    font-size: 1.7rem;
                }
            }

            small {
                display: inline-block;
                font-size: 1rem;
            }

            .markup {
                width: 20px;
                display: inline-block;
                height: auto;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .putus-putus {
        border-bottom: 1px dashed white;
        padding-bottom: 16px;
    }

    .imgs {
        width: 100%;
        height: 200px;
        position: relative;
        #progressbar {
            height: 14px;
            position: absolute;
            right: 30%;
            top: 85%;
            width: 87px;
            background: #0a66bb;
            border-radius: 16px;
            margin: -20px 0 0 -100px;
            padding: 2px;
            @media screen and (max-width:360px) {
                right: 25% !important;
            }
            @media screen and (max-width:768px) {
                right: 27%;
            }
        }
        #loading{
            transition: all 500ms ease;
            height: 7px;
            width: calc(100% - 10px);
            border-radius: 10px;
            background: #fff;
            position: absolute;
            margin: 2px;
            display: inline-block;
            animation: load 5s ease infinite;
          }

          #load{
            font-family: "Poppins",sans-serif;
            font-size: 10px;
            text-align: center;
            margin-top: 19px;
            letter-spacing: 1px;
            color: white;
          }
          
          @keyframes load{
            0%{
              width: 2%;
            }
            10%{
              width: 10%;
            }
          }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .logo-smart {
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: auto;
        // &::before {
        //     content: "";
        //     position: absolute;
        //     inset: 0;
        //     padding: 16px;
        //     width: 100%;
        //     height: 100%;
        //     background: linear-gradient(45deg, rgba(#003a70,.5), rgba(#003a70,.2));
        // }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .contents {
        // text-align: center;
        ol {
            list-style-type: none;
        }
    }
}

.parallax {
    /* The image used */
    background-image: url("../img/pejabat.jpeg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width:768px) {
        min-height: 200px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #b9e7f2;
        background-size: contain;
    }
  }