.komitmen {
    .ilustrasi {
        width: 80%;
        margin: 50px auto 0;
        display: block;
        text-align: center;
        position: relative;
        height: 400px;
        @media screen and (max-width:768px) {
            height: 400px;
            margin: 32px auto 0;
        }
        .injakan {
            position: absolute;
            /* inset: 0; */
            left: 50%;
            width: 65%;
            transform: translate(-50%,-50%);
            top: 50%;
            @media screen and (max-width:768px) {
                width: 100%;
            }
        }
        .org {
            position: absolute;
            height: auto;
            width: 110px;
            @media screen and (max-width:768px) {
                width: 100px;
            }
            &-one {
                right: 26%;
                bottom: 35%;
                z-index: 4;
                @media screen and (max-width:768px) {
                    right: 15%;
                    bottom: 35%;
                    
                }
            }
            &-two{
                right: 30%;
                bottom: 60%;
                z-index: 3;
                @media screen and (max-width:768px) {
                    right: 15%;
                    bottom: 60%;
                    
                }
            }

            &-three{
                right: 55%;
                bottom: 60%;
                z-index: 3;
                @media screen and (max-width:768px) {
                    right: 58%;
                    bottom: 55%;
                    
                }
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .hello {
        position: relative;
        margin-bottom: 24px;
        .content {
            padding: 16px 0;
            position: relative;
        }
    }
    .imgs {
        position: absolute;
        width: 150px;
        top: 45%;
        height: 150px;
        left: 20%;
        transform: translate(-50%, -50%);
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .conetents {
        // display: inline-block;
        // text-align: center;
        padding: 0 16px 16px 135px;
        // width: 60%;
        @media screen and (max-width:768px) {
            padding: 0 16px 16px 120px;
        }
        .judul {
            font-size: 1.2rem;
            // font-weight: bold;
            line-height: 1.4rem;
            @media screen and (max-width:768px) {
                font-size: 1rem;
                line-height: 1.1rem;
            }
        }
        .angka{
            font-size: 2.5rem;
            font-weight: 700;
            color: #003a70;
            @media screen and (max-width:768px) {
                font-size: 1.7rem;
            }
        }
        @keyframes upup{
            0%,100%{
              margin-top: -4px;
            }
            50%{
              margin-top: 8px;
            }
        }
        .imgup {
            animation: upup 1s linear infinite;
            width: 20px;
            margin-top: -4px;
            height: auto;
            position: absolute;
            // display: inline-block;
            img {
                width: 100%;
                height: 100%;
                object-fit:contain;
            }
        }
        .an {
            display: inline-block;
            margin-left: 32px;
            font-size: 1rem;
        }
    }

    .bg-pol {
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #b9e7f2, rgba(#b9e7f2,.6), #b9e7f2);
        }
    }
}